.aufgabe {
  max-width: 80%;
  margin: 0 auto;
}

.aufgabenTitle {
  font-size: x-large;
  text-wrap: balance;
  padding: 0 3rem;
}

.aufgabenText {
  text-wrap: wrap;
  padding: 0 5rem;
}

.aufgabenImage {
  margin: 1rem;
  width: 15rem;
  height: auto;
}
