.point {
    display: flex;
    flex-direction: column;
    border: 0.08rem  solid black;
    border-radius: 35px;
    width: 40%;
    align-items: center;
    background-color: white;
    color:black
}

.title {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: center;
}

.title_border {
    border-bottom: 0.1rem solid green;

}

.title:hover {
    cursor: pointer;
}

@media (width <= 880px) {
    .point {
        width: 60%;
    }
  }