.aufgaben {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


#interviewsItContainer {
  color: white;
  background-color: rgb(215, 124, 96);
} 
