$white-color: white; 
$black-color: black;
$black-color-light: rgb(11, 10, 10, 0.7);


.overlay_desktop { // used
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  line-height: 1.5;
  /* safari fallback */
  background-color: $black-color-light;

  overflow-y: hidden;
  overflow: scroll;
  transition: 0.5s;
}

/* check */
.overlay_d_0 {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $black-color;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay_desktop a { // unsed ?! (kein a)
  margin: 1% 0;
  padding: 15px 0;
  text-decoration: none;
  font-size: 1.5rem;
  color: $black-color;
  display: block;
  transition: 0.3s;
}

.overlay_d a:hover,
.overlay_d a:focus {
  color: $white-color;
}

.overlay_d .closebtn_d {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay_d {
    overflow-y: auto;
  }
  .overlay_d a {
    font-size: 20px;
  }
  .overlay_d .closebtn_d {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* impressumStyles */

.impressumStyles { // used aber eigebtl. Dopplung mit overlay_desktop
  text-align: center;
  width: 100%;

  padding: 0 1rem 0.5rem;
  color: $white-color;
  margin: 2rem 0;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.closeImpressum { // used
  margin-left: 90%;

  border: $white-color;
  padding: 0 0 0.11rem 0.11rem;
  // padding-left: 0.11rem;
  // padding-bottom: 0.11rem;
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: -1.3rem;
  padding-right: 6rem;
}

.closeImpressum:hover { // used
  cursor: pointer;
}

.textFlow {
  display: none;
}

@media (width <= 600px) {
  .textLines { // used
    display: none;
  }

  .textFlow { // used 
    display: unset;
  }

  .closeImpressum { // used
    margin-top: 0;
  }

  .titleLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 20%;
  }
}
