/* Landing Page */

#aboutContainer {
  color: purple;
  background-color: var(--mainPink)
}

.aboutText > p {
  padding: 2rem 0;
  transition: 3s;
  left: 0;
  font-size: 2rem;
}

.aboutText > p:hover {
  transition: 1s;
  left: 0;
}

.aboutBorder {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 28rem;
}

.aboutBorder > p {
  width: 15rem;
  margin: 0 auto;
  color: rgb(198 106 132);
}

.aboutStrich {
  width: 1rem !important;
} 

.aboutTitle {
  font-size: xx-large;
  margin-bottom: 1.5rem;
}

.aboutPic {
  width: 20rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutText {
  font-size: large;
  font-style: italic;
  line-height: 1.3;
}

.aboutTextAutor {
  font-size: large;
  padding-left: 16rem;
  padding-top: 0.1rem;
  line-height: 2;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
}

.itLink, .privatLink {
  background-color: white;
  padding: 0 2rem;
  border-radius: 14rem;
  border:none;
  text-decoration: none;
  font-size: 2.3rem;
  padding:0.7rem 1.7rem;
}

.itLink {
  padding:0.7rem 2.65rem;
}

/*  media queries */

@media (width <= 600px) {
  .aboutBorder {
    flex-direction: column;
    align-content: center;
  }
}