/* Hier alle styles sammeln, die die Ite Page betreffen  */


@import url("https://fontlibrary.org//face/anarchist-mustache");

/* HOME */
#homeItContainer {
  color: white;
  background-color: rgb(136, 196, 235);
} 

.homeItSplit {
  /* FLEXBOX */
}

.frontText {
  background-color: wheat;
}

#contactItContainer {
  color: white;
  background-color: rgb(90, 182, 119);
}