/* Landing Page */
.aboutBorder {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 28rem;
}

.aboutBorder > p {
  width: 15rem;
  margin: 0 auto;
  color: rgb(198 106 132);
}

.aboutStrich {
  width: 1rem !important;
} 

.aboutTitle {
  font-size: 3rem;
  margin-bottom: 5vh;
  /* color: #7e6ac6; */
}

.aboutPic {
  max-width: 20em;
  width: 65%;
  border-radius: 50%;
  margin-top: 2vh;
  margin-bottom: 10vh;
}


.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
}

.itLink, .privatLink {
  background-color: white;
  /* color: #7e6ac6; */
  color: purple;
  padding: 0 2rem;
  border-radius: 14rem;
  border:none;
  text-decoration: none;
  font-size: 2.3rem;
  padding:0.8rem 1.7rem 0.6rem;
}

.itLink:hover, .privatLink:hover {
  /* background-color: #a3d7c8; */
  background-color: #bdd5ce;
}

.itLink {
  padding:0.7rem 2.65rem;
}

/*  media queries */

/* @media (width <= 920px) {
  .aboutBorder {
    width: 22rem;
  }
  .itLink, .privatLink {
    font-size: 1.6rem;
  }
} */


@media (width <= 600px) {

  .aboutPic {
    margin-bottom: 6vh;
  }

  .aboutBorder {
    flex-direction: column;
    align-content: center;
  }
}