/* home */

.frontText {
  width: 90vw;
}

.frontText > h3 {
  min-width: 100%; /* this is to prevent shorter text animate to right */
  white-space: wrap;
  font-size: 2.5em;
  animation: marquee 4s ease-in-out forwards;
  overflow-wrap: break-word;
}


.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialmedia > a {
  margin:auto;
  background-color: rgb(222, 90, 90);
  padding: 1.2rem 2.4rem;
  border-radius: 4.5rem;

}

.socialmedia > a:link {
  text-decoration: none;
}

.socialmedia > a:visited {
  text-decoration: none;
}

.socialmedia > a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  background-color: rgb(148, 211, 170);
}

.socialmedia > a:active {
  text-decoration: underline;
}


/* project:  */
.projectImage {
  object-position: 50% 50%;
  object-fit: cover;
}

.projectText {
  white-space: wrap;
  margin-bottom: 2rem;
  /* Falls es mehr Projekte als platz gibt */
  overflow-y: auto;
  overflow-x: hidden;
}

.aufgaben {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 60vh;
}

/* Points */
/* für die gesammte seite könnte man auch ein Grid verwenden */
.PointsContainer {
  display: flex;
  flex-direction: row;
  /* gap: 3rem; */
  justify-content: space-between;
  padding: 0 3rem;
  height: 10rem;
  
}

@media (width <= 880px) {
  .projectImage {
    display: none;
  }
}