@use "src/_shared-vars" as shared;

.vitaContainerPrivat {
  color: shared.$privat-vita-color;
  background-color: shared.$privat-vita-background-color;
  padding: 3rem 0;
}

.vitaContainerPrivat > * {
  padding: 2vw;
  width: 40vw;
  text-wrap: wrap;
  text-align: left;
}

.vitaPic {
  max-height: 60vh;
  max-width: 30rem;
  object-fit: contain;
}

.vitaText {
  margin-top: -9rem;
}

.vitaText > h3 {
  font-size: shared.$title-font-size;
}

.vitaText > p {
  font-size: shared.$paragraph-font-size;
  width: 100%;
}



@media (width <= 1000px) {
  .vitaContainerPrivat {
    display: flex;
    flex-direction: column;
  }

  .vitaContainerPrivat > * {
    padding: 0 5vw 5vw;
    width: 80vw;
  }

  .vitaText {
    margin-top: 0;
  }
}
