// Fonts
$title-font-size: 3rem;
$subtitle-font-size: 1.8rem;
$paragraph-font-size: 1.2rem;
$socialmedia-font-size: 1.3rem;

// colors
$privat-home-title-background:rgb(65, 112, 167);
$privat-home-container-background:rgb(65, 112, 167);
$privat-vita-color: white;
$privat-vita-background-color: rgb(65, 112, 167);
$private-home-text-color: white;

$it-home-title-background:#bdd5ce; 
$it-home-container-main: black; // fontcolor
$it-home-container-background: #bdd5ce; 
$it-home-hover-color: rgb(148, 211, 170);
$it-projects-background:#bdd5ce;
$it-projects-font-color:black;