@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import url("boxicons/css/boxicons.min.css");

:root {
  /* colors */
  --mainPink: rgb(198, 106, 132);
}

* {
  box-sizing: border-box;
}

*,
html {
  line-height: 1em;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
  padding: 1em;
  font-weight: 500;
}

/* App.js */
.appContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* SECTION */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

section img,
section div {
  height: auto;
  width: 100%;
}

section img {
  width: 50%;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Landing Page */

#aboutContainer {
  color: purple;
  background-color: var(--mainPink);
  height: 96.5vh;
  /* kill mobile extra space */
  overflow: hidden;
}

/* Main - IT/Privat */
.mainStyle {
  overflow-x: hidden;
}
