.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

@media (min-width: 600px) {
    .main-grid {
        /* grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(150px, 320px)) minmax(1em, 1fr); */
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(1em, 1fr)) minmax(1em, 1fr);
    }
}

@media (min-width: 600px) {
    .main-image, .secondary-text {
        grid-column: 1;
        grid-row: 2;
    }

    .secondary-text {
        min-width: 10rem;
    }
}