/* start with grid approach 

Idee: Ein "Tutorial" draus machen und in grid und flexbox umsetzen
oder: hoovern --> Effekt + Erklärung 
*/


.container {
    background: grey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    justify-content: self;
}


/* Form */

.form-label {
    justify-self: center;
    min-width: 11rem;
    min-height: 3rem;
    /* width: 20%; */
    color: green;
    background-color: rebeccapurple;
    
    margin: 1rem 5rem;
    padding: 1rem 5.5rem 0rem; 
    
    /* width: 10%;
    margin:  10% auto; */
}

.form-control {
    min-width: 11rem;

    justify-self: center;
    min-width: 11rem;
    min-height: 3rem;
    /* width: 20%;  */

    
    margin: 1rem 5rem;
    padding: 1rem 5.5rem 0rem; 
}


.btn {
    color: red;
    min-width: 12rem;
    width: 10%;
    margin:  10% auto;
}

