/* start with grid approach 

Idee: Ein "Tutorial" draus machen und in grid und flexbox umsetzen
oder: hoovern --> Effekt + Erklärung 
*/


.container {
    color: white;
    background: grey;
    display: block;
}

.form-column {
    grid-column: 2/-1;
}

.contact-form {
    display: grid; 
}

input,
textarea {
    margin-bottom: .75em;
    padding: .4em;
    font-family: inherit;
}

textarea {
    resize: none;
    height: 100px;
}

.page-title {
    color:white
}

@media (width >= 600px) { 
    .contact-form {
        background: grey;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2,1fr);
    }
    .name-label, .name-input {
        grid-column: 1;
    }

    .email-label, .email-input {
        grid-column:2;
    }

    .message-label, .message-input {
        grid-column: span 2;
    }


    .btn {
        grid-column: 2;
    }
}
