$darkAccent: rgba(2, 0, 36, 1);
$lightAccent: #f3d6e2;

// doubled
nav {
	position: sticky;
	z-index: 10;
	top: 0;
	padding: 1.35em 0;
	color: white;
	background-color: $darkAccent;
	max-height: 4em;
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}


.activeClass {
	border-bottom-color: $lightAccent;
}


/* ==================
    Typography
===================== */

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

h1, h2, strong {
    font-weight: 700;
}

.logo {
    width: 238px;
    height: 38px;
    min-width: 115px;
}

/* navigation */

.header_content {
    display: flex;
    grid-column: 2 / -2;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #000;
}

.logo_link {
    background-color: #FFE600;
    padding: 0.8em 0;
    text-decoration: none;
    line-height: 0;
    min-width: 15rem;
}

/* EDIT: einmal wird alles auf das navElement referenziert und einmal auf die nav klasse */

.nav {
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}

.navigation_open {
    transform: translateX(-100%);
}

.nav_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    z-index: 39;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #000;
}

.nav_list > span:hover {
    cursor: pointer;
}

.close_nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open_nav {
    border: 0;
    background: 0;
    color: #000;
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.5em;
}

.open_nav_button {
    color: yellow
}

// .current {
//     border-bottom: 1px solid #FFE600;
// }

@media (min-width: 600px) {
    .open_nav,
    .close_nav {
        display: none;
    }
    
    .nav {
        position: initial;
        width: auto;
    }
    
    .nav_list {
        flex-direction: row;
        justify-content: flex-start;

        height: 2rem;
        z-index: 1;

    }
}