/* Hier alle styles sammeln, die die private Page betreffen */


@import url("https://fontlibrary.org//face/exo");

/* HOME */
#homeContainerPrivat {
  color: white;
  background-color: rgb(241, 179, 33);
}

#vitaContainerPrivat {
  color: white;
  background-color: rgb(65, 112, 167);
}

.homePrivatText {
  color: white;
  background-color: rgb(241, 179, 33);
  font-family: "ExoRegular" !important;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
}

.homeText > p {
  padding: 2rem 0;
  transition: 3s;
  left: 0;
}

.homeText > p:hover {
  transition: 1s;
  left: 0;
}

