/* Hier alle styles sammeln, die die private Page betreffen */


@import url("https://fontlibrary.org//face/exo");

/* HOME */
#homeContainerPrivat {
  color: white;
  background-color: orange;
}

.homePrivatText {
  color: blue;
  font-family: "ExoRegular" !important;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
}

.homeText > p {
  padding: 2rem 0;
  transition: 3s;
  left: 0;
}

.homeText > p:hover {
  transition: 1s;
  left: 0;
}

